@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
html, body, h1 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#app {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}

.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: .5em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(14px, 9999px, 14px, 0);
    transform: skew(0.29deg);
  }
  5% {
    clip: rect(6px, 9999px, 78px, 0);
    transform: skew(0.44deg);
  }
  10% {
    clip: rect(40px, 9999px, 6px, 0);
    transform: skew(0.38deg);
  }
  15% {
    clip: rect(41px, 9999px, 53px, 0);
    transform: skew(0.34deg);
  }
  20% {
    clip: rect(16px, 9999px, 72px, 0);
    transform: skew(0.29deg);
  }
  25% {
    clip: rect(70px, 9999px, 78px, 0);
    transform: skew(0.29deg);
  }
  30% {
    clip: rect(7px, 9999px, 20px, 0);
    transform: skew(0.18deg);
  }
  35% {
    clip: rect(94px, 9999px, 14px, 0);
    transform: skew(0.36deg);
  }
  40% {
    clip: rect(66px, 9999px, 68px, 0);
    transform: skew(0.78deg);
  }
  45% {
    clip: rect(43px, 9999px, 64px, 0);
    transform: skew(0.29deg);
  }
  50% {
    clip: rect(7px, 9999px, 7px, 0);
    transform: skew(0.92deg);
  }
  55% {
    clip: rect(45px, 9999px, 39px, 0);
    transform: skew(0.29deg);
  }
  60% {
    clip: rect(77px, 9999px, 5px, 0);
    transform: skew(0.74deg);
  }
  65% {
    clip: rect(74px, 9999px, 64px, 0);
    transform: skew(0.86deg);
  }
  70% {
    clip: rect(21px, 9999px, 6px, 0);
    transform: skew(0.89deg);
  }
  75% {
    clip: rect(43px, 9999px, 54px, 0);
    transform: skew(0.93deg);
  }
  80% {
    clip: rect(5px, 9999px, 20px, 0);
    transform: skew(0.42deg);
  }
  85% {
    clip: rect(42px, 9999px, 92px, 0);
    transform: skew(0.4deg);
  }
  90% {
    clip: rect(76px, 9999px, 50px, 0);
    transform: skew(0.64deg);
  }
  95% {
    clip: rect(84px, 9999px, 71px, 0);
    transform: skew(0.79deg);
  }
  100% {
    clip: rect(89px, 9999px, 4px, 0);
    transform: skew(0.15deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(28px, 9999px, 69px, 0);
    transform: skew(0.67deg);
  }
  5% {
    clip: rect(99px, 9999px, 100px, 0);
    transform: skew(0.9deg);
  }
  10% {
    clip: rect(19px, 9999px, 52px, 0);
    transform: skew(0.55deg);
  }
  15% {
    clip: rect(36px, 9999px, 45px, 0);
    transform: skew(0.77deg);
  }
  20% {
    clip: rect(84px, 9999px, 19px, 0);
    transform: skew(0.33deg);
  }
  25% {
    clip: rect(46px, 9999px, 44px, 0);
    transform: skew(0.25deg);
  }
  30% {
    clip: rect(56px, 9999px, 43px, 0);
    transform: skew(0.79deg);
  }
  35% {
    clip: rect(34px, 9999px, 36px, 0);
    transform: skew(0.35deg);
  }
  40% {
    clip: rect(48px, 9999px, 44px, 0);
    transform: skew(0.99deg);
  }
  45% {
    clip: rect(41px, 9999px, 69px, 0);
    transform: skew(0.99deg);
  }
  50% {
    clip: rect(70px, 9999px, 80px, 0);
    transform: skew(0.87deg);
  }
  55% {
    clip: rect(79px, 9999px, 27px, 0);
    transform: skew(0.02deg);
  }
  60% {
    clip: rect(18px, 9999px, 56px, 0);
    transform: skew(0.34deg);
  }
  65% {
    clip: rect(6px, 9999px, 11px, 0);
    transform: skew(0.13deg);
  }
  70% {
    clip: rect(44px, 9999px, 35px, 0);
    transform: skew(0.72deg);
  }
  75% {
    clip: rect(78px, 9999px, 64px, 0);
    transform: skew(0.56deg);
  }
  80% {
    clip: rect(79px, 9999px, 74px, 0);
    transform: skew(0.92deg);
  }
  85% {
    clip: rect(81px, 9999px, 90px, 0);
    transform: skew(0.85deg);
  }
  90% {
    clip: rect(49px, 9999px, 64px, 0);
    transform: skew(0.45deg);
  }
  95% {
    clip: rect(77px, 9999px, 50px, 0);
    transform: skew(0.13deg);
  }
  100% {
    clip: rect(92px, 9999px, 27px, 0);
    transform: skew(0.69deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-4deg);
  }
  10% {
    transform: skew(1deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(-4deg);
  }
  50% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(2deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(-4deg);
  }
}

.loadbar
{
    width: 100%;
    background-color: rgba(36, 36, 36, 0.9);
    height: 10px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 5px;
    margin-bottom: 5px;

    overflow: hidden;

    position: fixed;
    bottom: 0px;

    display: block;
}

.thingy
{
    width: 0%;
    background-color: rgb(0, 140, 255);
    height: 20px;

    position: absolute;
}

.footer {
  width: 100%;
}